<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Data-Binding Jeffrey Huang</title>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/serif.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	<style>
		.reveal .slides {
			width: 100% !important;
			height:100% !important;
			top: 0 !important;
			margin-top: 0 !important;
		}
		section.special.present{
			min-height:100% !important;
			min-width: 100% !important;
			top: auto !important;
		}
		.transparentBox{
			background:transparent;
			border:none;
		}
		.transparentBox :focus{
			background:transparent;
			border:none;
		}
		.transparentBox :active{
			background:transparent;
			border:none;
		}
	</style>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
				<img src="files/wordle.png">
				</section>
				<section>
					<h2>Javascript Data Binding</h2>
					<br><br>
					<div style="float:right; margin-right:275px; text-align:right;">
					<p>
						<h5>Created by: Jeffrey Huang</h5><br>
						<h5>April 20th, 2015</h5>
					</p>
					</div>
				</section>

				<section>
					<h2>What is Data-Binding?</h2>
					<img src="files/databindarrows.png" style="border:none; width:650px; height:115px; box-shadow:none" >
		<p style="line-height:1.5">
			connection between ui and data</br>
			changes in the data can reflect changes in the UI</br>
			changes in the ui can reflect changes in the data</br>
		</p>
				</section>
				<section>
					<section>
						<h2>Types of Data-Binding</h2>
						<p>One Way/One Time Data Binding</p>
							<input id='one-way'><br>
							<button id='onewaybutton'>submit</button>
							<p id='onewayoutput'></p><br>

						<p>Two Way Data-Binding</p>
							<input id='two-way'><p id='twowayoutput'></p>
						<script>
							var oneway = document.getElementById('one-way');
							var twoway = document.getElementById('two-way');
							var onewaybutton = document.getElementById("onewaybutton");
							onewaybutton.addEventListener("click",function(){calculateoneway(onewaybutton)});
							var calculateoneway = function( button ) {
								document.getElementById('onewayoutput').innerHTML = oneway.value;
							};
							twoway.oninput = function(){
								document.getElementById('twowayoutput').innerHTML = twoway.value;
							};

						</script>
					</section>
				</section>

				<section>
					<div>
						<h2>Two-Way Data Binding, A closer Look</h2>
						<div style="height:30px;">
						</div>
						<div style="width:450px; float:left; margin-left:200px;">
<h3>HTML</h3>
<div style="text-align:left;">
	&lt;input<br>
	<div style="margin-left:100px;">
			bind="message"<br>
			value="<span id='hichange1'></span>"&nbsp;/&gt;
	</div>

</div>
<input style="float:left" class='fragment' id="two-way-input" style="margin-left:225px;float:left" ng-model="value">
						</div>
						<div style="width:450px;float:right; margin-right:200px;">
<h3>JavaScript</h3>
<div style="text-align:left;">
	var email = {<br>
	<div style="margin-left:100px;">
			message: "<span id='hichange2'></span>"<br>
	</div>
	};
	<div id='auto-change-appear-javascript' class='fragment'>
			email.message="foo";
	</div>
</div>
					</div>
					</div>
					<script>
						var inputtextbox = document.getElementById("two-way-input");
						inputtextbox.oninput = function(){
							document.getElementById("hichange1").innerHTML = inputtextbox.value;
							document.getElementById("hichange2").innerHTML = inputtextbox.value;
						};
						var changetofoo1 = function(){
							var inputtwoway = document.getElementById("two-way-input");
								document.getElementById("hichange1").innerHTML = "foo";
								document.getElementById("hichange2").innerHTML = "foo";
								inputtwoway.value = 'foo';

						};
						var changetofoo2 = function(){
							document.getElementById("knockout-output").innerHTML = "foo";
							knockout.value = 'foo';
						};
						var changetofoo3 = function(){
							document.getElementById("ember-output").innerHTML = "foo";
							ember.value = 'foo';
						};
						var changetofoo4 = function(){
							document.getElementById("angular-output").innerHTML = "foo";
							angular.value = 'foo';
						};
						var getfoo1 = function(){
							document.getElementById("auto-change-appear-knockout-3").innerHTML = document.getElementById("knockout-bind").value;
						};
						var getfoo2 = function(){
							document.getElementById("auto-change-appear-ember-3").innerHTML = document.getElementById("ember-bind").value;
						};
						var getfoo3 = function(){
							document.getElementById("auto-change-appear-angular-3").innerHTML = document.getElementById("angular-bind").value;
						};
					</script>
				</section>

				<section>
					<div>
						<h2>KnockoutJS</h2>
						<div style="height:30px;">
						</div>
						<div class='fragment' data-fragment-index='1' style="width:auto; margin-left:50px;float:left;">
<h3>HTML</h3>
<div style="text-align:left;" >
	<pre><code style="width:500px;">&lt;div data-bind="text: message"&gt;&lt;/div&gt;</code></pre>
	<div>
		<pre><code>&lt;input data-bind="value: message" /&gt;</code></pre>
	</div>

</div>



						</div>

<div style="float:right;">
<h3 class='fragment' data-fragment-index='1'>JavaScript</h3>
<div class='fragment' data-fragment-index='1' style="text-align:left;margin-right:50px;">
	<pre><code>var message = ko.observable();</code></pre>
	<div id='auto-change-appear-knockout-2' class='fragment' data-fragment-index='2'><pre><code>message()</code></pre></div>
	<div id='auto-change-appear-knockout-3'></div>
	<div class='fragment' data-fragment-index='3'></div>
	<div id='auto-change-appear-knockout' style="width:500px;" class='fragment' data-fragment-index='4'><pre><code>message("foo");</code></pre></div>
</div>
</div>

<div style="height:375px;">
</div>

					<h3 class='fragment' data-fragment-index='1'>Results</h3>
					<input id='knockout-bind' class='fragment' data-fragment-index='1' id="two-way-input2" style="margin-left:auto; margin-right:auto">
					<div id='knockout-output'></div>
					<script>
								var knockout = document.getElementById('knockout-bind');
								knockout.oninput = function(){
								document.getElementById('knockout-output').innerHTML = knockout.value;
							};
					</script>
				</section>


				<section>
					<div>
						<h2>EmberJS</h2>
						<div style="height:30px;">
						</div>
						<div class='fragment' data-fragment-index='1' style="width:auto; margin-left:50px;float:left;">
<h3>HTML</h3>
<div style="text-align:left;" >
	<pre><code style="width:500px;">&lt;div&gt;{{ message }}&lt;/div&gt;</code></pre>
	<div>
		<pre><code style="width:500px;">{{Ember.TextField valueBinding=message}}</code></pre>
	</div>

</div>



						</div>

<div style="float:right;">
<h3 class='fragment' data-fragment-index='1'>JavaScript</h3>
<div class='fragment' data-fragment-index='1' style="text-align:left;margin-right:50px; width:550px;">
	<pre><code>var emberObject = Ember.Object.create({
   		message: ""
	});</code></pre>
	<div id='auto-change-appear-ember-2' class='fragment' data-fragment-index='2'><pre><code>emberObject.get('message');</code></pre></div>
	<div id='auto-change-appear-ember-3'></div>
	<div class='fragment' data-fragment-index='3'></div>
	<div id='auto-change-appear-ember' style="width:500px;" class='fragment' data-fragment-index='4'><pre><code>emberObject.set('message', "foo");</code></pre></div>
</div>
</div>

<div style="height:375px;">
</div>

					<h3 class='fragment' data-fragment-index='1'>Results</h3>
					<input id='ember-bind' class='fragment' data-fragment-index='1' id="two-way-input2" style="margin-left:auto; margin-right:auto">
					<div id='ember-output'></div>
					<script>
								var ember = document.getElementById('ember-bind');
								ember.oninput = function(){
								document.getElementById('ember-output').innerHTML = ember.value;
							};
					</script>
				</section>



				<section>
					<div>
						<h2>AngularJS</h2>
						<div style="height:30px;">
						</div>
						<div class='fragment' data-fragment-index='1' style="width:auto; margin-left:50px;float:left;">
<h3>HTML</h3>
<div style="text-align:left;" >
	<pre><code style="width:500px;">&lt;div&gt;{{ message }}&lt;/div&gt;</code></pre>
	<div>
		<pre><code style="width:500px;">&lt;input ng-model="message"&gt;</code></pre>
	</div>

</div>



						</div>

<div style="float:right; margin-right:50px";>
<h3 class='fragment' data-fragment-index='1'>JavaScript</h3>
<div id='auto-change-appear-angular-2' class='fragment' data-fragment-index='2' style="text-align:left;margin-right:50px;">
	<pre><code style="width:500px;" >$scope.message;</code></pre>
	<div id='auto-change-appear-angular-3'></div>
	<div class='fragment' data-fragment-index='3'></div>
	<div id='auto-change-appear-angular' class='fragment' data-fragment-index='4'>
	<pre><code style="width:500px;" >$scope.message = "foo"; 
$scope.$apply();</code></pre></div>
</div>
</div>

<div style="height:375px;">
</div>

					<h3 class='fragment' data-fragment-index='1'>Results</h3>
					<input id='angular-bind' class='fragment' data-fragment-index='1' id="two-way-input2" style="margin-left:auto; margin-right:auto">
					<div id='angular-output'></div>
					<script>
								var angular = document.getElementById('angular-bind');
								angular.oninput = function(){
								document.getElementById('angular-output').innerHTML = angular.value;
							};
					</script>
				</section>

				<section style="width:100%;"class="special">
				<section>
					<h3>AngularJS</h3>
					<iframe style="width:100%;height:600px;" src="http://angularlist.local/"></iframe>
				</section>
				<section>
				<section>
					<h2>Angular Uses Dirty Checking</h2>
					<pre  style="width:750px; margin-left:auto; margin-right:auto;"><code>
	foreach property in the $scope object.
		Did the value change?
		if changed, then update value.
					</code></pre>
				</section>
				</section>
				</section>
				<section style="width:100%;"class="special">
					<h3>EmberJS</h3>
					<iframe style="width:100%;height:600px;" src="http://emberlist.local/"></iframe>
				</section>
				<section>
					<section>
					<h3>KnockoutJS</h3>
					<iframe style="width:100%;height:600px;" src="http://knockoutlist.local"></iframe>
					</section>
					<section>
					<h3>KnockoutJS uses Synchronous Rendering</h3>
					</section>
					<section>
						<h2>Synchronous Rendering</h2>
						<img src="files/synchronous.png">
					</section>
					<section>
						<a href="#/14">
						<div>
						<h2>Asynchronous Rendering</h2>
						<img src="files/asynchronous.png">
					</div>
					</a>
					</section>
				</section>
				<section>
				<h3>EmberJS and KnockoutJS use Observable Properties</h3>
				</section>
				<section>
					<img style="float:left; margin-left:50px" src="files/data-bind-list-update-rate.gif">
					<div class='fragment' data-fragment-index='1'>16.7ms = 60FPS</div>
				</section>
				<section>
					<img src="files/render_speed.gif">
				</section>
				<section data-ng-app="">
					<h2>Converter</h2>
					<div data-ng-init="celcius=0">
					<input style="width:2em; text-align:right; border: none; border-bottom: 1px dashed #aaa; background:transparent; font-size:inherit" ng-model="celcius">&deg;C = {{celcius*9/5+32}}&deg;F
				</section>
				<section>
					<section>
						<h2>Computed Properties in more Detail</h2>
						<div style="height:30px;">
						</div>
					</section>
					<section>
						<div style="width:450px; margin-left:auto; margin-right:auto">
						<h3>AngularJS</h3>
					<pre><code style="height:188px;"data-trim contenteditable>

$scope.C = 0;

$scope.F = function(){
    return $scope.C*9/5 + 32;
}
					</code></pre>
						</div>
<div class='fragment'>AngularJS Does not have computed dependencies</div>
					</section>
					<section>
						<div style="width:450px; margin-left:auto; margin-right:auto">
						<h3>EmberJS</h3>
					<pre><code style="word-wrap:break-word;" data-trim contenteditable>

Ember.Object.create({
    C: 0,

    F: function(){
        return this.get('C')*9/5 
        + 32;
    }.property('C')
});
     
					</code></pre></div>
					</section>
					<section>
						<div style="width:450px; margin-left:auto; margin-right:auto">
						<h3>EmberJS</h3>
					<pre><code style="word-wrap:break-word; width:500px; margin-left:auto; margin-right:auto;" data-trim contenteditable>

Ember.Object.create({

    if_A_then_B_else_C: function(){

        if(this.get('A')){
          return this.get('B');
        }else{
          return this.get('C');
        }

    }.property('A', 'B', 'C')
});
     
					</code></pre></div>
<div class='fragment'>What Happens if A is true and C changes?</div>
					</section>
					<section>
						<div style="width:450px; margin-left:auto; margin-right:auto">
						<h3>KnockoutJS</h3>
					<pre><code style="word-wrap:break-word;" data-trim contenteditable>

var C = ko.observable(0);

var F = ko.computed(function(){
    return C()*9/5 + 32;
});
     
					</code></pre>
					</div>
					</section>
				<section>
						<div style="width:450px; margin-left:auto; margin-right:700px;">
						<h3>KnockoutJS</h3>
					<pre><code style="word-wrap:break-word; width:750px;;" data-trim contenteditable>

var A = ko.observable(true);
var B = ko.observable(0);
var C = ko.observable(0);

var if_A_then_B_else_C = ko.computed(function(){

    if(A()){
      return B();
    }else{
      return C();
    }

});
					</code></pre>
					</div>
					<div class='fragment' data-fragment-index='1'>Dependencies are recalculated each time the function is run</div>
					<div class='fragment' data-fragment-index='2'>KnockoutJS has dynamic Dependencies</div>
					</section>

				</section>
				<section>
					<h2>Summary</h2>
					<table>
						<thead>
							<tr>
								<th>Library</th>
								<th>Observable Properties</th>
								<th>Asynchronous Rendering</th>
								<th>Computed Dependencies</th>
								<th>Dynamic Dependencies</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>AngularJS</td>
								<td class='fragment' data-fragment-index='1'>&#10006</td>
								<td class='fragment' data-fragment-index='2'>&#10004</td>
								<td class='fragment' data-fragment-index='3'>&#10006</td>
								<td class='fragment' data-fragment-index='4'>&#10006</td>
							<tr>
							<tr>
								<td>EmberJS</td>
								<td class='fragment' data-fragment-index='1'>&#10004</td>
								<td class='fragment' data-fragment-index='2'>&#10004</td>
								<td class='fragment' data-fragment-index='3'>&#10004</td>
								<td class='fragment' data-fragment-index='4'>&#10006</td>
							<tr>
							<tr>
								<td>KnockoutJS</td>
								<td class='fragment' data-fragment-index='1'>&#10004</td>
								<td class='fragment' data-fragment-index='2'>&#10006</td>
								<td class='fragment' data-fragment-index='3'>&#10004</td>
								<td class='fragment' data-fragment-index='4'>&#10004</td>
							<tr>
						</tbody>
					</table>
					<div class='fragment' style="text-align:left; margin-left:50px; margin-top:25px;">
						<ul>
							<li>Angular is better suited for smaller projects with simple data models.</li>
							<li>Ember and Knockout is better suited for larger projects with more complex data models</li>
						</ul>
					</div>
				</section>
				<section>
				<h3 style="">Acknowledgements</h3>
				<div style="height:75px;"></div>
				<div style="float:left; margin-left:200px; text-align:left;">
				<h4 style="margin-bottom:0px; font-weight:bold">Supervisor</h4>
				<ul style="padding-bottom:20px;">
				<li>Joseph Yamada</li>
				</ul>
				<h4  style="margin-bottom:0px;font-weight:bold">Co-op students</h4>
				<ul style="padding-bottom:20px;">
				<li>Jacob Chan</li>
				<li>Chris Zhang</li>
				</ul>
				<h4 style="margin-bottom:0px;font-weight:bold">Additional help</h4>
				<ul style="padding-bottom:20px;">
				<li>Michelle Brazas	</li>
				</ul>
				</div>
				<div style="float:right; margin-right:200px; text-align:left;">
				<h4 style="margin-bottom:0px;font-weight:bold">Webdev team</h4>
				<ul style="padding-bottom:20px;">
				<li>Kim Cullion</li>
				<li>Miyuki Fukuma</li>
				<li>Daniel Gross</li>
				<li>George Shewchuk
				<li>Kaman Wu</li>
				</ul>
				</div>
				</section>
				<!-- <section>
					<h2>Why is Data-Binding Useful?</h2>
					<div style="display:block;">
						<img style="border:none;box-shadow:none; margin-right:200px;" src='files/left_arrow.png'>
						<img style="border:none;box-shadow:none; margin-left:200px;"src='files/right_arrow.png'>
					</div>
					<div style="display:block;">
						<h4 style="margin-left:100px; float:left;">User-Interface Improvements</h4>
						<h4 style="margin-right:100px; float:right;">Productivity Improvements</h4>
					</div>
				
				</section>

				<section>
					<section>
						<h2>User-Interface Improvements</h2>
					</section>
					<section style="width:100%;"class="special">
						<h3>GA</h3>
					<iframe style="width:100%;height:600px;" src="http://ga.olm-jhuang/node/6736/"></iframe>
					</section>
					<section style="width:100%;"class="special">
						<h3>GA - Improved</h3>
						<iframe style="width:100%;height:600px;" src="files/ga-improved.html"></iframe>
				</section>
				<section>
					<section>
						<h2>Productivity Improvements</h2>
					</section>
					<section>
						<div style="width:960px; margin-right:auto; margin-left:auto;">
							<h2>WYSIWYG Editors</h2>
							<textarea name='editor1' id='editor1'>
								changeme
							</textarea>
						</div>
					</section>
					<section style="width:100%;"class="special">
						<h3>ACE Editors</h3>
						<iframe style="width:100%;height:600px;" src="http://labsdev.res.oicr.on.ca/lab/7794/manager"></iframe>
					</section>
				</section>
				<section>
					Future of Data Binding?
					 	- object.observe
					 	
				</section> -->
			</div>

		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script src="ckeditor/ckeditor.js"></script>
		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				zoom:0.5,
				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
		<script>
			CKEDITOR.replace('editor1');
		</script>
		<script>
		function addClassNameListener(elemId, callback) {
		    var elem = document.getElementById(elemId);
		    var lastClassName = elem.className;
		    window.setInterval( function() {   
		       var className = elem.className;
		        if (className !== lastClassName) {
		            callback();   
		            lastClassName = className;
        		}
   		},10);
		}
		addClassNameListener("auto-change-appear-javascript", function(){ changetofoo1(); });
		addClassNameListener("auto-change-appear-knockout", function(){ changetofoo2(); });
		addClassNameListener("auto-change-appear-ember", function(){ changetofoo3(); });
		addClassNameListener("auto-change-appear-angular", function(){ changetofoo4(); });
		addClassNameListener("auto-change-appear-knockout-2", function(){ getfoo1(); });
		addClassNameListener("auto-change-appear-ember-2", function(){ getfoo2(); });
		addClassNameListener("auto-change-appear-angular-2", function(){ getfoo3(); });
		</script>
	</body>
</html>
